*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/res/drawable/
app/src/main/res/drawable/
verticalmarqueeview/src/main/java/com/lip/
verticalmarqueeview/src/main/res/drawable/
